<form #f="ngForm">
    <div class="form-group">
        <label for="" class="control-label">First Name</label>
        <input type="text" minlength="5" ngModel name="firstName" #firstName="ngModel" required class="form-control">
        <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
            <div *ngIf="firstName.errors.required">First Name is required</div>
            <div *ngIf="firstName.errors.minlength">First name minlength {{firstName.errors.minlength.requiredLength}} chartered required</div>
        </div>

    </div>
    <div class="form-group">
        <label for="" class="control-label">Comments</label>
        <textarea ngModel name="comments" #comments="ngModel" required class="form-control" rows="5" cols="10"></textarea>
        <div class="alert alert-danger" *ngIf="comments.touched && !comments.valid">
            <div *ngIf="comments.errors.required">Commensts is required</div>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="isSubcribe" ngModel> isSubcribe
            </label>
        </div>
    </div>
    <div class="radio">
        <label>
              <input type="radio" name="optionsRadios" ngModel id="optionsRadios1" value="option1">
              Option one 
            </label>
    </div>
    <div class="radio">
        <label>
              <input type="radio" name="optionsRadios" ngModel id="optionsRadios2" value="option2">
              Option two 
            </label>
    </div>
    <p>{{f.value | json}}</p>

    <button class="btn btn-primary" [disabled]="!f.valid">Save</button>
</form>